body.scheme
{
  font-size: 12pt;
  font-family: sans-serif;
  background: #fff;
  border-style: solid;
  border-color: #666;
  border-width: 1em 12em 1em 1em;
  margin: 0em;
  padding: 1em;
 }

a:hover
{
  text-decoration: underline;
  }



/* ********** The Index Page ************** */


body.index
{
  font-size: 150%;
  font-family: serif;
 }

body.index h1
{
  text-align: center;
 }


body.index ul li
{
  list-style: none;
  margin: 0.5ex auto;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  border: 0.25ex solid #999;
  background: #eee;
 }

body.index ul a
{
  text-decoration: none;
  font-weight: bold;
 }

body.index ul a:hover
{
  text-decoration: underline;
 }


a.discreet
{
  font-size: 50%;
  color: #666;
 }

a.schemelink {
  margin: 0em 1ex;
  min-height: 50px;
  padding-left: 50px;
  background-image: url('graphics/scheme-icon-48.png');
  background-repeat: no-repeat;
}

a.cardslink
{
  margin: 0em 1ex;
  min-height: 50px;
  padding-left: 50px;
  background-image: url('graphics/cards-icon-48.png');
  background-repeat: no-repeat;
 }

a.bookletlink
{
  margin: 0em 1ex;
  min-height: 50px;
  padding-left: 50px;
  background-image: url('graphics/booklet-icon-48.png');
  background-repeat: no-repeat;
 }


/* ********** The overview / details toggles ************** */

#toggleobjectives {
  float: right;
  font-size: 50%;
}

#toggleobjectives a:visited,
#toggleobjectives a:link {
  color: #009;
}

 /* ********** The Links to Other Schemes ************** */

ul.other_schemes
{
  position: fixed;
  top: 1em;
  right: 1em;
  margin: 0em;
  padding: 0.5ex;
  background: #fff;
  border: 1px solid #ccc;
  width: 10em;
  text-align: center;
 }

ul.other_schemes a:hover
{
  text-decoration: underline;
  }


ul.other_schemes a,
ul.other_schemes a:visited
{
  font-weight: bold;
  text-decoration: none;
  color: #009;
  padding: 0ex 1ex;
  }


ul.other_schemes a.selected
{
  color: #a00;
  font-weight: bold;
}



ul.other_schemes li
{
  display: block;
  margin: 1em auto;
 }


.halfterm h2 {
color: #666;
text-shadow: 0.1ex 0.1ex #333;
 }

.discreet {
color: #666;
font-size: 80%;
}


/* **************

The details table

************** */

table {
  border-collapse: collapse;
  }

.halfterm table.scheme
{
  width: 98%;
  margin: 1em auto 4em auto;
  background: #fff;
  }

table.scheme th
{
text-transform: capitalize;
 }

table.scheme td,
table.scheme th
{
  border: 0ex;
  padding: 0.4ex;
  vertical-align: top;
  }

table.scheme tr
{
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ccc;
 }

table.scheme h3
{
  margin: 0em;
 }

tr.type_assess td
{
  background: #fdd;
 }

table.scheme h3.unit_id
{
  float: right;
  margin: 0.5ex;
  background: #666;
  color: #fff;
  border: 0.1ex dashed #333;
  padding: 0.2ex 0.5ex;
  text-transform: uppercase;
 }

.keyword
{
  margin: 0em 1em 0em 0em;
  color: #363;
 }

table.scheme ul
{
  margin: 0em;
  padding: 0em 0em 0em 2ex;
 }

table.scheme li
{
  margin: 0.2ex 0ex;
  padding: 0em;
  list-style: square;
 }

table.scheme .links a
{
  text-decoration: none;
  font-weight: bold;
  margin-right: 1ex;
 }

table.scheme .links a:hover
{
  text-decoration: underline;
 }



/* ************ CURRICULUM CARDS ***************** */

.cards h1
{
  page-break-after: always;
 }

.cards h2
{
margin: 0.2ex 0ex;
 }


.cards h3
{
margin: 0;
 }



.cards div.halfterm
{
  margin: 1em 0em;
  padding: 0.5em;
  border: 0.4ex solid #333;
  page-break-after: always;
 }


table.card th
{
  border-bottom: 0.2ex solid #999;
  }

.cards table.card
{
  width: 99%;
  margin: 1em auto;
 }

.cards .qno
{
  width: 2em;
  margin: 0ex auto;
  text-align: right;
  text-transform: uppercase;
 }

.cards th,
.cards td
{

vertical-align: top;
border-collapse: collapse;
 }

.cards ul
{
  padding: 0ex 0ex 0ex 3ex;
  margin: 0ex;
 }

.cards .cardinfo
{
float: right;
 }

.cardinfo img
{
  border: none;
  height: 2em;
  width: 2em;
  display: inline;
 }
