<!DOCTYPE html>
<html>

<head>
  <title tal:content="thisascheme/getTitle">Scheme of Work for Year 7 Set 1</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" media="all" href="style.css" type="text/css" />
  <link rel="stylesheet" media="print" href="print.css" type="text/css" />
  <link rel="icon" href="graphics/favicon.ico" type="image/x-icon" />
</head>

<body class="scheme">

  <div id="header">

    <ul tal:define="aschemes library/getAllocatedSchemes"
        tal:condition="aschemes"
        class="other_schemes">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li tal:repeat="ascheme aschemes">
        <a tal:attributes="href ascheme/getDetailsFileName;
			                     class python:ascheme is thisascheme and 'selected' or ''"
           tal:content="ascheme/getTitle">Year 8 Set 2</a>
      </li>
      <p class="discreet">Note: this is the scheme for 2017 to 2018.</p>
    </ul>

  </div>

  <h1>Scheme of Work for <span tal:replace="thisascheme/getTitle">Year 7 Set 1</span></h1>

  <div tal:define="thisscheme thisascheme/scheme"
       class="scheme">
    <div class="halfterm" tal:repeat="ht library/half_terms">
      <h2 tal:content="string:${ht/long_title} (${ht/weeks} weeks)">Autumn 1st Half-Term</h2>

      <table class="scheme">
        <thead>
          <tr>
            <th>Unit</th>
            <th>Objectives</th>
            <th>Resources</th>
        </thead>
        <tbody>
          <tr tal:repeat="unit python:thisscheme.getUnitsForHT(ht['num'])"
              tal:attributes="class string:type_${unit/unit_type}">
            <td class="title">
              <h3 class="unit_id" tal:content="unit/id|nothing">N2</h3>
              <h3><a tal:condition="unit/file_path"
                     tal:attributes="href unit/file_path|nothing"
                     title="Click for the full details of this unit"
                     tal:content="unit/title|unit/id|nothing">Multiples, factors and primes</a>
                  <span tal:condition="not:unit/file_path"
                        tal:content="unit/title|nothing">Multiples, factors and primes</span>
              </h3>
            </td>
            <td>
              <ul tal:condition="unit/getObjectives">
                <li tal:repeat="lo unit/getObjectives" tal:content="lo">order decimals</li>
              </ul>
            </td>
            <td>
              <tal:comment tal:condition="null">Pop any resources in here that we've discovered</tal:comment>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</body>

</html>
